*{
    margin: 2;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display:block;
    background-image: url(/imagens/f2.jpg);
    position:relative;
     
    
}

/* começo do cabecalho*/
.logo{
    margin: 5px;
    padding-left: 250px;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
     height: 100vh;
     background-position:top;
     background-size:cover;}
.menu{
        margin: auto;
        position: fixed;
        width: 100%;
        display:grid;
        align-items: center;
        justify-content: space-around;
}
.menu ul li{
    display: inline-block;
    margin-left: 25px;
}
.menu .ativo, nav .menu a:hover{
    color: black;
    background-color: white;
}
.menu a{
        color: white;
        margin-left: 3px;
        padding: 8px 12px;
        border-radius: 10px;
        transition: 200ms;
}
h2{
    margin: auto;
    color: white;
    padding-left: 250px;
    font-family:monospace;
    font-style: italic;
    font-size: 25px;
}   
.redes-sociais ul li{
    display: flex;
    display: inline-flex;
    padding: 30px;
    margin-left: 115px;
}

.pagamentos img{
    margin: auto;
    display: flex;
    display: inline-flex;
}
p{
    margin: auto;
    margin-left: 55px;
    margin-top:-25px;
    color: white;
    font-family:monospace;
    font-style: italic;
    font-size: 15px;
}
.pagamentos ul li{
    margin: auto;

}
.pixx{
    padding: 8px;
}
.cartao p{
    margin: 8px;
}
.marcas{
    display: flex;
    margin-left: 350px;
    margin-top: -140px;
}
.marcas p {
    margin: 8px;
}
iframe{
  margin-left: 170px;
  margin-top: 20px;
}

/*fim do cabeçalho*/

/* começo minha historia*/
.historia{
    display:flex;
    flex-direction:column-reverse;
}
.titulo{
  text-align: center;
  margin-right: 250px;
  margin-top: 30px;
  font-family: monospace;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, -1fr);
  }
  .grid-item {
    padding: 30px;
    margin: auto;
  }
  .text{
    text-align:center;
    font-size: 30px;
  }
  /*fim da minha historia*/
h1{
    margin: auto;
    margin-left: 55px;
    margin-top:-25px;
    color: white;
    font-family:monospace;
    font-style: italic;
    font-size: 15px;
}

carrosel

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 1em 0;
  font-family:monospace;
  font-size: 40px;
}
.logo2{
  margin-left: 320px;
}

.container {
  position: relative;
  padding: 110px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.item {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}

.current-item {
  opacity: 1;
}

/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
  /*fim do carrosel*/

  /*começo de materiais /* começo biosegurança*/

#luva-img{
  margin-left: 150px;
  padding: 150px;
}

.logo2{
  margin-right:330px;
}
.titulo2{
  text-align: center;
    margin-top: 30px;
  font-family: monospace;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, -1fr);
  }
  .text2{
    text-align:justify;
    font-size: 25px;
    margin-left: 800px;
    margin-top: -525px;  
  }
.luva-img{
  display:grid;
  margin-left: 150px;
  padding: 150px;
}
 